
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}


@*<script type="text/javascript">

    $(document).ready(function () {
        var dir = $('#dir').val();
        var col = $('#col').val();

        var header = $('th a[href*=' + col + ']');
        if (dir == 'Ascending') {
            header.text(header.text() + ' ▲');
        }
        if (dir == 'Descending') {
            header.text(header.text() + ' ▼');
        }


    });
</script>*@



<div class="container">
    <h2> Comment List</h2>
    <nav class="navbar navbar-default">
        <div class="container-fluid-right">
            <div class="navbar-header">

                @Ajax.ActionLink("Comment New", "create", "notification", new { area = "notification", id = ViewBag.Nid , @class = "navbar-brand" },null)
            </div>
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("comment", "notification", FormMethod.Get, new { area = "notification", @class = "navbar-form navbar-right" }))
                {
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Comment By" />
                    </div>
                    <button type="submit" value="search" class="btn btn-success">Search</button>
                }

            </div>
        </div>

    </nav>

    @Html.Partial("_comment")


   

    <div id="message-listbm">
        <font>@ViewBag.Messagegrid</font>
    </div>

</div>




@*<h2>comment</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Cid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Cid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Cid })
            </td>
        </tr>
    }

    </table>*@
