
@model Reports.MooringRopeInspection
@{
    ViewBag.Title = "editinspection";
    Layout = "~/Views/Shared/_LayoutVessel7.cshtml";
}

@*<style>
   

    table {
        border-collapse: collapse;
        background: white;
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        border: 1px solid #ddd;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pane {
        background: #eee;
    }

    .pane-hScroll {
        overflow: auto;
        width: 400px;
        background: lightgray;
    }

    .pane-vScroll {
        overflow-y: auto;
        overflow-x: hidden;
        height: 300px;
        background: white;
    }

    .pane--table2 {
        width: 400px;
        overflow-x: scroll;
    }

        .pane--table2 th, .pane--table2 td {
            width: auto;
            min-width: 160px;
        }

        .pane--table2 tbody {
            overflow-y: scroll;
            overflow-x: hidden;
            display: block;
            height: 200px;
        }

        .pane--table2 thead {
            display: table-row;
        }
</style>*@


@*<h2>html5-file upload drag and drop</h2>
    <div id="dZUpload" class="dropzone">
        <div class="dz-defaultdz-message"></div>
    </div>*@

@*<style>

        .dropZoneExternal > div,
        .dropZoneExternal > img {
            position: absolute;
        }

        .dropZoneExternal {
            position: relative;
            border: 1px dashed #f17f21 !important;
            cursor: pointer;
        }

        .dropZoneExternal,
        .dragZoneText {
            width: 100%;
            max-width: 350px;
            min-width: 286px;
            height: 350px;
        }

        #dragZone {
            width: 100%;
            display: table;
        }

        #uploadedImage {
            width: 100%;
        }

        .dropZoneText {
            width: 300px;
            height: 150px;
            color: #fff;
            background-color: #888;
        }

        #dropZone {
            top: 0;
            padding: 100px 25px;
        }

        .uploadControlDropZone {
            display: none;
        }

        .dropZoneText,
        .dragZoneText {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 20pt;
        }

        .dragZoneText {
            color: #808080;
        }

        .dxucInlineDropZoneSys span {
            color: #fff !important;
            font-size: 10pt;
            font-weight: normal !important;
        }

        .validationMessage {
            padding: 0 20px;
            text-align: center;
        }

        .uploadContainer {
            width: 100%;
            max-width: 350px;
            min-width: 286px;
            margin-top: 10px;
        }

        .Note {
            max-width: 500px;
        }
    </style>*@

<script type="text/javascript">
    function onUploadControlFileUploadComplete(s, e) {
        if (e.isValid)
            $("#uploadedImage").attr("src", e.callbackData);
        setElementVisible("uploadedImage", e.isValid);
    }
    function onImageLoad() {
        var externalDropZone = $("#externalDropZone");
        var uploadedImage = $("#uploadedImage");
        uploadedImage.css({
            left: (externalDropZone.width() - uploadedImage.width()) / 2,
            top: (externalDropZone.height() - uploadedImage.height()) / 2
        });
        setElementVisible("dragZone", false);
    }
    function setElementVisible(elementId, visible) {
        var el = $("#" + elementId);
        if (visible)
            el.show();
        else
            el.hide();
    }
</script>



<script>
    function selectall(source) {
        checkboxes = document.getElementsByName('case1');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>


<style>

    /*div#Mydiv {

        height: 450px;

        overflow-y: scroll;
    }

    th, td {
        border: 1px solid black;
    }*/

</style>


@*<div class="content">



        <div class="container-fluid">
            <div class="row">
                @if (TempData["Error"] != null)
                {
                    <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
                }
                @if (TempData["Success"] != null)
                {
                    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                }

                <div class="form-group">

                    <label class="bmd-label-floating">Inspect By</label>
                    @Html.EditorFor(model => model.InspectBy, new { htmlAttributes = new { @class = "form-control", @required = "true", } })
                    <span id="messageInsby"></span>
                </div>
                <div style="margin-left:20px">

                </div>
                <div class="form-group">

                    <label class="label">Inspected Date</label>
                    @Html.TextBoxFor(x => x.InspectDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @required = "true", @type = "date" })
                    <span id="messageInsdt"></span>
                </div>

                <div class="col-md-12">
                    <div class="card">
                        <div id="Mydiv" class="card-body">
                            @{
                                int count = 1;
                            }
                            <div class="pane pane--table1">
                                <table id="tbl1" height="50">
                                    <thead style="overflow-x:auto;overflow-y:auto" class="pane-hScroll">

                                        <tr>
                                            <th style="display:none">Id</th>
                                            <th><input type="checkbox" checked="checked" id="selectall" onClick="selectall(this)" />Select All</th>
                                            <th>Winch No.</th>
                                            <th>Location</th>
                                            <th>Line Type</th>
                                            <th>Unique ID</th>
                                            <th>Cert.No.</th>


                                            <th>External</th>
                                            <th>Internal</th>
                                            <th>Average</th>
                                            <th>Length of Abrasion</th>
                                            <th>Distance from outboard eye</th>
                                            <th>Cum Yarn Counted</th>
                                            <th>Length of Glazing</th>

                                            <th>External</th>
                                            <th>Internal</th>
                                            <th>Average</th>
                                            <th>Length of Abrasion</th>
                                            <th>Distance from outboard eye</th>
                                            <th>Cum Yarn Counted</th>
                                            <th>Length of Glazing</th>

                                            <th>Chafe Guard</th>
                                            <th>Twist</th>
                                            <th style="width:230px">View Image</th>
                                            <th style="width:230px">View Image</th>

                                            <th style="display:none">S.No</th>


                                        </tr>
                                    </thead>
                                    <tbody class="pane-vScroll">

                                        @foreach (var item in Model.AddInspectionList)
                                        {
                                            <tr>
                                                <td><input class="case1" name="case1" checked="checked" type="checkbox" />    &nbsp; </td>
                                                <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                                <td style="display:none"> @Html.DisplayFor(modelItem => item.RopeId)</td>
                                                <td style="display:none"> @Html.DisplayFor(modelItem => item.WinchId)</td>
                                                <td> @Html.DisplayFor(modelItem => item.AssignedNumber)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Location)</td>
                                                <td>@Html.DisplayFor(modelItem => item.RopeType)</td>
                                                <td> @Html.DisplayFor(modelItem => item.UniqueId)</td>
                                                <td class="bg-primary-light"> @Html.DisplayFor(modelItem => item.CertificateNumber)</td>


                                                <td style="width:100px!important" class="bg-primary-light">


                                                    @Html.DropDownListFor(m => m.ExternalRating_A, new SelectList(Model.CommonExtInt, "Value", "Text", item.ExternalRating_A), new { @class = "form-control" })

                                                </td>
                                                <td style="width:100px!important">
                                                    @Html.DropDownListFor(model => model.InternalRating_A, new SelectList(Model.CommonExtInt, "Value", "Text", item.InternalRating_A), new { @class = "form-control" })

                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => item.AverageRating_A, new { htmlAttributes = new { @class = "form-control", @required = "true", disabled = "disabled", @readonly = "readonly" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.LengthOFAbrasion_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.DistanceOutboard_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue1(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.CutYarnCount_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue2(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.LengthOFGlazing_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue3(this)" } })
                                                </td>
                                                <td style="width:100px!important">
                                                    @Html.DropDownListFor(model => model.External1, new SelectList(Model.CommonExtInt, "Value", "Text", item.ExternalRating_B), new { @class = "form-control" })

                                                </td>
                                                <td style="width:100px!important">
                                                    @Html.DropDownListFor(model => model.Internal1, new SelectList(Model.CommonExtInt, "Value", "Text", item.InternalRating_B), new { @class = "form-control" })

                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => item.AverageRating_B, new { htmlAttributes = new { @class = "form-control", @required = "true", disabled = "disabled", @readonly = "readonly" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.LengthOFAbrasion_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue4(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.DistanceOutboard_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue5(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.CutYarnCount_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue6(this)" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.LengthOFGlazing_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0.00", @onKeyUp = "requiredValue7(this)" } })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.Chafe_guard_condition, new SelectList(Model.ChafeGuard, "ChafeGuard", "ChafeGuard", item.Chafe_guard_condition), htmlAttributes: new { @class = "form-control", @required = "true", @style = "width: 150px;", })

                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.Twist, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @Value = "0" } })
                                                </td>

                                                <td style="width:200px">

                                                    @if (item.Image1 != "")
                                                    {

                                                        <button id='btn1_@(count)' onclick="showhideImages(@count,@item.RopeId)" class="close">
                                                            <span>&times;</span>
                                                        </button>
                                                        <a id='btn2_@(count)' href='#'>
                                                            <img style='width: 100px; height: 100px;border-radius: 5px;cursor: pointer;transition: 0.3s;' onclick='return showImageIns(this)' src="@item.Photo11">
                                                        </a>

                                                        <div style="width:200px;display:none;" id='dZUpload_@(count)' class="dropzone">
                                                            <div class="dz-defaultdz-message"></div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="width:200px;" id='dZUpload_@(count)' class="dropzone">
                                                            <div class="dz-defaultdz-message"></div>
                                                        </div>
                                                    }
                                                </td>

                                                <td style="width:200px">

                                                    @if (item.Image2 != "")
                                                    {
                                                        <button id='btn11_@(count)' onclick="showhideImages1(@count,@item.RopeId)" class="close">
                                                            <span>&times;</span>
                                                        </button>
                                                        <a id='btn21_@(count)' href='#'>
                                                            <img style='width: 100px; height: 100px;border-radius: 5px;cursor: pointer;transition: 0.3s;' onclick='return showImageIns(this)' src="@item.Photo12">
                                                        </a>

                                                        <div style="width:200px;display:none;" id='dZUpload1_@(count)' class="dropzone">
                                                            <div class="dz-defaultdz-message"></div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="width:200px;" id='dZUpload1_@(count)' class="dropzone">
                                                            <div class="dz-defaultdz-message"></div>
                                                        </div>
                                                    }
                                                </td>

                                                <td style="display:none">@count </td>

                                                @{ count++; }
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>



                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="btn-next-con">

            <input class="btn btn-primary pull-right" id="btnSubmit"  onclick="SaveData()" type="button" name="btnSubmit" style="width: 12%;cursor:pointer;" value="Update" />





        </div>
    </div>*@


<div class="page-heading page-header-flex">
    <div>
        <h1 class="page-title">
            Mooring Line Inspection Update
        </h1>
        @*<ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li><a href="">Form</a></li>
            <li><a>Create</a></li>
        </ol>*@
    </div>
    <div>
        <div class="form-actions">
            <button type="submit" id="btnSubmit" onclick="SaveData()" class="btn btn-success btn-width"><i class="uil uil-check mr-2"></i>Update</button>
            @*<button type="reset" class="btn btn-danger btn-width"><i class="uil uil-redo mr-2"></i>Reset</button>*@
            <a name="back" id="btnBack" onclick="goBack()" class="btn btn-primary btn-width"> << Go Back</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="download-btn text-center mb-5">
                    <button type="submit" class="btn btn-info"><i class="uil uil-import mr-2"></i>Inspection Guidence</button>
                    <button type="reset" class="btn btn-info"><i class="uil uil-import mr-2"></i>Inspection Excel</button>
                </div>
                <div class="panel panel-default mb-6">
                    <div class="panel-body">
                        <div class="row form-group">
                            <label class="col-md-2 col-sm-3 col-form-label mt-0 mt-sm-3">
                                <label class="control-label">Inspection Date<sup>*</sup></label>
                            </label>
                            <div class="col-md-4 col-sm-3">

                                @Html.TextBoxFor(x => x.InspectDate, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", @required = "true", @placeholder = "yyyy-mm-dd" })
                                <span id="messageInsdt"></span>
                            </div>
                            <label class="col-md-2 col-sm-3 col-form-label mt-0 mt-sm-3">
                                <label class="control-label">Inspection by<sup>*</sup></label>
                            </label>
                            <div class="col-md-4 col-sm-3">
                                @Html.EditorFor(model => model.InspectBy, new { htmlAttributes = new { @class = "form-control", @maxlength = 70, @required = "true", } })
                                <span id="messageInsby"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Mydiv" class="table-responsive freeze-side1">
            @{
                int count = 1;
            }
            


            <table id="tbl1" class="table table-bordered" height="50">
                <thead>
                    <tr class="table-mark">
                        <th></th>
                        <th colspan="4"></th>
                        <th colspan="7" class="bg-primary"><label>ZONE 1- Chock/Fairlead Hardware Contact Zone</label></th>
                        <th colspan="7" class="bg-info"><label>ZONE 2- Tension Drum Contact Zone</label></th>
                        <th colspan="4"></th>
                    </tr>
                    <tr>

                        <th style="display:none">Id</th>

                        <th><input type="checkbox" checked="checked" id="selectall" onClick="selectall(this)" />Select All</th>
                        <th>Winch #</th>
                        <th>Line Position</th>
                        <th>Line Type</th>
                        <th>Unique ID</th>
                        <th>Certificate Number</th>


                        <th>External Abrasion(Rating)</th>
                        <th>Internal Abrasion(Rating)</th>
                        <th>Average(Rating)</th>
                        <th>Length of Abrasion(Rating)</th>
                        <th>Distance from outboard eye(meters)</th>
                        <th>Cut Yarn Count(#)</th>
                        <th>Length of Glazing(meters)</th>

                        <th>External Abrasion(Rating)2</th>
                        <th>Internal Abrasion(Rating)2</th>
                        <th>Average(Rating)2</th>
                        <th>Length of Abrasion(Rating)2</th>
                        <th>Distance from outboard eye(meters)2</th>
                        <th>Cut Yarn Count(#)2</th>
                        <th>Length of Glazing(meters)2</th>

                        <th>Chafe Guard</th>
                        <th>Twist per(meter)</th>
                        <th style="width:230px">View Image</th>
                        <th style="width:230px">View Image</th>

                        <th style="display:none">S.No</th>


                    </tr>
                </thead>
                <tbody class="pane-vScroll">

                    @foreach (var item in Model.AddInspectionList)
                    {
                        <tr>
                            <td><input class="case1" name="case1" checked="checked" type="checkbox" />    &nbsp; </td>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.RopeId)</td>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.WinchId)</td>
                            <td> @Html.DisplayFor(modelItem => item.AssignedNumber)</td>
                            <td> @Html.DisplayFor(modelItem => item.Location)</td>
                            <td>@Html.DisplayFor(modelItem => item.RopeType)</td>
                            <td> @Html.DisplayFor(modelItem => item.UniqueId)</td>
                            <td class="bg-primary-light"> @Html.DisplayFor(modelItem => item.CertificateNumber)</td>


                            <td style="width:100px!important" class="bg-primary-light">


                                @Html.DropDownListFor(m => m.ExternalRating_A, new SelectList(Model.CommonExtInt, "Value", "Text", item.ExternalRating_A), new { @class = "form-control" })

                            </td>
                            <td style="width:100px!important" class="bg-primary-light">
                                @Html.DropDownListFor(model => model.InternalRating_A, new SelectList(Model.CommonExtInt, "Value", "Text", item.InternalRating_A), new { @class = "form-control" })

                            </td>
                            <td class="bg-primary-light">
                                @Html.EditorFor(model => item.AverageRating_A, new { htmlAttributes = new { @class = "form-control", @required = "true", disabled = "disabled", @readonly = "readonly" } })
                            </td>
                            <td class="bg-primary-light">
                                @Html.EditorFor(model => item.LengthOFAbrasion_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5,  @onKeyUp = "requiredValue(this)" } })
                            </td>
                            <td class="bg-primary-light">
                                @Html.EditorFor(model => item.DistanceOutboard_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 6,  @onKeyUp = "requiredValue1(this)" } })
                            </td>
                            <td class="bg-primary-light">
                                @Html.EditorFor(model => item.CutYarnCount_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5,  @onKeyUp = "requiredValue2(this)" } })
                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.LengthOFGlazing_A, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 6,  @onKeyUp = "requiredValue3(this)" } })
                            </td>
                            <td style="width:100px!important" class="bg-info-light">
                                @Html.DropDownListFor(model => model.External1, new SelectList(Model.CommonExtInt, "Value", "Text", item.ExternalRating_B), new { @class = "form-control" })

                            </td>
                            <td style="width:100px!important" class="bg-info-light">
                                @Html.DropDownListFor(model => model.Internal1, new SelectList(Model.CommonExtInt, "Value", "Text", item.InternalRating_B), new { @class = "form-control" })

                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.AverageRating_B, new { htmlAttributes = new { @class = "form-control", @required = "true", disabled = "disabled", @readonly = "readonly" } })
                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.LengthOFAbrasion_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5,  @onKeyUp = "requiredValue4(this)" } })
                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.DistanceOutboard_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 6,  @onKeyUp = "requiredValue5(this)" } })
                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.CutYarnCount_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5,  @onKeyUp = "requiredValue6(this)" } })
                            </td>
                            <td class="bg-info-light">
                                @Html.EditorFor(model => item.LengthOFGlazing_B, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 6,  @onKeyUp = "requiredValue7(this)" } })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => item.Chafe_guard_condition, new SelectList(Model.ChafeGuard, "ChafeGuard", "ChafeGuard", item.Chafe_guard_condition), htmlAttributes: new { @class = "form-control", @required = "true", @style = "width: 150px;", })

                            </td>
                            <td>
                                @Html.EditorFor(model => item.Twist, new { htmlAttributes = new { @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)", @maxlength = 5, @min = "0", @Value = "0" } })
                            </td>

                            <td style="width:200px">

                                @if (item.Image1 != "")
                                {

                                    <button id='btn1_@(count)' onclick="showhideImages(@count,@item.RopeId)" class="close">
                                        <span>&times;</span>
                                    </button>
                                    <a id='btn2_@(count)' href='#'>
                                        <img style='width: 100px; height: 100px;border-radius: 5px;cursor: pointer;transition: 0.3s;' onclick='return showImageIns(this)' src="@item.Photo11">
                                    </a>

                                    <div style="width:200px;display:none;" id='dZUpload_@(count)' class="dropzone">
                                        <div class="dz-defaultdz-message"></div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width:200px;" id='dZUpload_@(count)' class="dropzone">
                                        <div class="dz-defaultdz-message"></div>
                                    </div>
                                }
                            </td>

                            <td style="width:200px">

                                @if (item.Image2 != "")
                                {
                                    <button id='btn11_@(count)' onclick="showhideImages1(@count,@item.RopeId)" class="close">
                                        <span>&times;</span>
                                    </button>
                                    <a id='btn21_@(count)' href='#'>
                                        <img style='width: 100px; height: 100px;border-radius: 5px;cursor: pointer;transition: 0.3s;' onclick='return showImageIns(this)' src="@item.Photo12">
                                    </a>

                                    <div style="width:200px;display:none;" id='dZUpload1_@(count)' class="dropzone">
                                        <div class="dz-defaultdz-message"></div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width:200px;" id='dZUpload1_@(count)' class="dropzone">
                                        <div class="dz-defaultdz-message"></div>
                                    </div>
                                }
                            </td>

                            <td style="display:none">@count </td>

                            @{ count++; }
                        </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>
</div>

<div id="ImageModalInspection" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <img id="imgNameIns" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*}*@

<script>
    function showhideImages(count, RopeId) {
        //alert(RopeId);
        //alert(count);
        var result = confirm("Are you sure you want to delete?");
        if (result == true) {



            $("#btn1_" + count).hide();
            $("#btn2_" + count).hide();
            $("#dZUpload_" + count).show();
            //$("#dZUpload").show();

            debugger;

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/LineInspection/DeleteImage',
                data: { 'RopeId': RopeId, 'Image': 1 },
                success: function (response) {
                    if (response.Result == true) {

                        alert('Image Delete Successfully !');
                    }
                    else {
                        alert('An Error has occured. Please try again.');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //toastr["error"]('An Error has occured. Please try again.');
                    alert('An Error has occured. Please try again.');
                }
            });

        }

    }
</script>

<script>
    function showhideImages1(count, RopeId) {
        //alert(RopeId);

        var result = confirm("Are you sure you want to delete?");
        if (result == true) {


            $("#btn11_" + count).hide();
            $("#btn21_" + count).hide();
            $("#dZUpload1_" + count).show();
            //$("#dZUpload").show();


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/LineInspection/DeleteImage',
                data: { 'RopeId': RopeId, 'Image': 2 },
                success: function (response) {
                    if (response.Result == true) {

                        alert('Image Delete Successfully !');
                    }
                    else {
                        alert('An Error has occured. Please try again.');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //toastr["error"]('An Error has occured. Please try again.');
                    alert('An Error has occured. Please try again.');
                }
            });
        }
    }
</script>



<script>
    function showImageIns(param) {
        var imgSrc = $(param).attr("src");
        //alert(imgSrc);
        $('#imgNameIns').attr('src', imgSrc);
        $('#ImageModalInspection').modal('show');
    }
</script>
<script language=Javascript>
      <!--

    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    //-->
</script>

<script>

    $("#Mydiv [id*='External']").change(function () {
        // debugger;
        var cells = $(this).closest('tr').children('td');
        var value1 = cells.eq(9).find('select').val();
        var value2 = cells.eq(10).find('select').val();
        var x = parseInt(value1) + parseInt(value2);
        var value3 = x / 2;
        var iNum = value3;
        var ss = iNum.toFixed();
        cells.eq(11).text(ss);
        //cells.eq(9).text(new Number(value1) * new Number(value2));
        //var state = $(this).parent().parent().find("input[id*='cboState']").val();
    });



    $("#Mydiv [id*='Internal']").change(function () {
        // debugger;
        var cells = $(this).closest('tr').children('td');
        var value1 = cells.eq(9).find('select').val();
        var value2 = cells.eq(10).find('select').val();
        var x = parseInt(value1) + parseInt(value2);
        var value3 = x / 2;
        var iNum = value3;
        var ss = iNum.toFixed();
        cells.eq(11).text(ss);
    });


    $("#Mydiv [id*='External1']").change(function () {
        //debugger;
        var cells = $(this).closest('tr').children('td');
        var value1 = cells.eq(16).find('select').val();
        var value2 = cells.eq(17).find('select').val();
        var x = parseInt(value1) + parseInt(value2);
        var value3 = x / 2;
        var iNum = value3;
        var ss = iNum.toFixed();
        cells.eq(18).text(ss);
    });

    $("#Mydiv [id*='Internal1']").change(function () {
        // debugger;
        var cells = $(this).closest('tr').children('td');
        var value1 = cells.eq(16).find('select').val();
        var value2 = cells.eq(17).find('select').val();
        var x = parseInt(value1) + parseInt(value2);
        var value3 = x / 2;
        var iNum = value3;
        var ss = iNum.toFixed();
        cells.eq(18).text(ss);
    });


</script>

<script type="text/javascript">

    setTimeout(function () {

        $('#successMessage').fadeOut('fast');
        $('#errorMessage').fadeOut('fast');
    }, 3000);


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Dropzone.autoDiscover = false;


        //var myDropzone = new Dropzone(".dropzone", {
        //    //maxFilesize: 10,
        //    acceptedFiles: ".jpeg,.jpg,.png,.gif"
        //});

        $(".dropzone").dropzone({

            acceptedFiles: 'image/*',
            url: "GenericHandler.ashx",
            maxFiles: 1,
            maxFilesize: .20,
            thumbnailWidth: null,
            thumbnailHeight: null,
            init: function () {
                this.on("thumbnail", function (file, dataUrl) {
                    $('.dz-image').last().find('img').attr({ width: '100%', height: '100%' });
                }),
                    this.on("success", function (file) {
                        $('.dz-image').css({ "width": "100%", "height": "auto" });
                    }),
                    this.on("error", function (file, errorMessage) {
                        var check = file.accepted;
                        if (check == false) {
                            var sizechk = file.size;
                            var rr = sizechk / 1024;
                            if (rr > 200) {
                                alert("Max file size allowed to upload is 200 kb, current file is size :- " + rr.toFixed(2) + " kb.");
                                this.removeFile(file);

                            } else {
                                alert("error : " + errorMessage);
                                this.removeFile(file);

                            }

                        }
                    });
            },
            addRemoveLinks: true,

            //acceptedFiles: ".jpeg,.jpg,.png,.gif",
            //acceptedFiles: 'image/jpeg,image/png,image/gif,image/jpg,application/pdf',
            success: function (file, response) {

                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log("Successfully uploaded :" + imgName);
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        });
    });
</script>


<script type="text/javascript">


       //$("#btnSubmit").on("click", function () {
    function SaveData() {



        debugger;

        var image1 = ""; var image2 = ""; var photo1 = ""; var photo2 = "";
        var ratingcheck = 0; var notacptable = 0; var certno = "";


        var Insby = $("#InspectBy").val();
        var Insdt = $("#InspectDate").val();
        if (Insby == "") {

            var msg = "Please fill name / rank of the person carrying out inspection"
            $('#messageInsby').text(msg);
            $('#messageInsby').css("color", "red");

            return;
        }
        if (Insdt == "") {

            var msg = "Inspected Date can not be null !"
            $('#messageInsdt').text(msg);
            $('#messageInsdt').css("color", "red");


            return;
        }



        var inspections = []; // list object
        //$('#tbl1 > tbody  > tr').each(function () { //loop in table list

       // $("#tbl1 input[type=checkbox]:checked").each(function () {
         $("#tbl1 input[name='case1']:checked").each(function () {

            var MooringRopeInspection = {};
            var row = $(this).closest("tr")[0];
            //var row1 = $(this).closest("tr").find('input');
            var cells = $(this).closest('tr').children('td');
            debugger;

            var cntSrNo = row.cells[27].innerHTML;



             image1 = "";
             image2 = "";
             photo1 = "";
             photo2 = "";
           //  var sddd = cells.eq(25).find('img').src();

            var count = (cntSrNo - 1) * 2;
            var count1 = count + 1;

            $('.dropzone')[count].dropzone.files.forEach(function (file) {
                debugger;
                image1 = file.name;
                photo1 = file.previewElement.querySelector("img").src;
            });

            $('.dropzone')[count1].dropzone.files.forEach(function (file) {
                debugger;
                image2 = file.name;
                photo2 = file.previewElement.querySelector("img").src;
            });


            MooringRopeInspection.ExternalRating_A = cells.eq(9).find('select').val();
            MooringRopeInspection.InternalRating_A = cells.eq(10).find('select').val();
            MooringRopeInspection.LengthOFAbrasion_A = cells.eq(12).find('input').val();
            //MooringRopeInspection.AverageRating_A = cells.find("td:eq(11) input[type='text']").val();
            //MooringRopeInspection.AverageRating_A = row.cells[11].innerHTML;

             var x1 = parseInt(MooringRopeInspection.ExternalRating_A) + parseInt(MooringRopeInspection.InternalRating_A);
             var value31 = x1 / 2;
             var iNum1 = value31;
             var ss1 = iNum1.toFixed();
             cells.eq(11).text(ss1);

             MooringRopeInspection.AverageRating_A =ss1;


           //var str = MooringRopeInspection.AverageRating_A;
            var lngth = ss1.length;
            if (lngth > 2) {
                ratingcheck = 1;
                //alert("Please Insert External or Internal Rating !");
                //return;
            }

            MooringRopeInspection.RopeId = row.cells[2].innerHTML;
            MooringRopeInspection.WinchId = row.cells[3].innerHTML;
            //MooringRopeInspection.RopeType = row.cells[10].innerHTML;
            //MooringRopeInspection.ExternalRating_A = row1.cells[9].text;
            //MooringRopeInspection.InternalRating_A = row.cells[10].innerHTML;
            //MooringRopeInspection.AverageRating_A = row.cells[11].innerHTML;
            MooringRopeInspection.DistanceOutboard_A = cells.eq(13).find('input').val();
            MooringRopeInspection.CutYarnCount_A = cells.eq(14).find('input').val();
            MooringRopeInspection.LengthOFGlazing_A = cells.eq(15).find('input').val();
            MooringRopeInspection.ExternalRating_B = cells.eq(16).find('select').val();
            MooringRopeInspection.InternalRating_B = cells.eq(17).find('select').val();
            //MooringRopeInspection.AverageRating_B = row.cells[18].innerHTML;

             var x = parseInt(MooringRopeInspection.ExternalRating_B) + parseInt(MooringRopeInspection.InternalRating_B);
             var value3 = x / 2;
             var iNum = value3;
             var ss = iNum.toFixed();
             cells.eq(18).text(ss);

             MooringRopeInspection.AverageRating_B = ss;

            //var str1 = MooringRopeInspection.AverageRating_B;
            //var lngth1 = str1.length;

             var lngth1 = ss.length;
            if (lngth1 > 2) {
                ratingcheck = 1;
                //alert("Please Insert External or Internal Rating !");
                //return;
            }


            //MooringRopeInspection.AverageRating_B = cells.eq(18).find('input').val();
            MooringRopeInspection.LengthOFAbrasion_B = cells.eq(19).find('input').val();
            MooringRopeInspection.DistanceOutboard_B = cells.eq(20).find('input').val();
            MooringRopeInspection.CutYarnCount_B = cells.eq(21).find('input').val();
            MooringRopeInspection.LengthOFGlazing_B = cells.eq(22).find('input').val();
            MooringRopeInspection.Chafe_guard_condition = cells.eq(23).find('select').val();

             debugger;

            if (MooringRopeInspection.Chafe_guard_condition == "Not Acceptable") {

                if (image1 == "" && image2 == "") {

                    notacptable = 1;
                    certno = row.cells[8].innerHTML;
                }
            }

            MooringRopeInspection.Twist = cells.eq(24).find('input').val();
            MooringRopeInspection.Image1 = image1;
            MooringRopeInspection.Image2 = image2;
            MooringRopeInspection.Photo1 = photo1;
            MooringRopeInspection.Photo2 = photo2;
            //MooringRopeInspection.Photo2 = this.cells[28].innerHTML;
            //Movie.Year = this.cells[2].innerHTML;
            MooringRopeInspection.InspectBy = $("#InspectBy").val();
            MooringRopeInspection.InspectDate = $("#InspectDate").val();
            inspections.push(MooringRopeInspection);
        });


        debugger;
       // alert(inspections);

        if (notacptable == 1) {

            alert("Due to the reported condition of Line ID {" + certno + "}, it is compulsory to attach atleast 1 photograph where maximum abrasion/ damage is observed, please browse and attach photographs !");
            return;
        }

        if (ratingcheck != 0) {

            alert("Please Insert External or Internal Rating !");
            return;
        }

        inspections = JSON.stringify(inspections);

        debugger;
        if (inspections == "[]") {
            alert("Please Choose atleast 1 line to inspect by selecting checkbox in the first column !");
            return;
        }


        $.ajax({
            url: '@Url.Action("editinspection", "LineInspection")',
            type: 'Post',
            data: { 'inspections': inspections },
            dataType: "json",
            beforeSend: function (x) {
                if (x && x.overrideMimeType) {
                    x.overrideMimeType("application/j-son;charset=UTF-8");
                }
            },
            success: function (result) {
                window.location.href = result;
            }
        });

    }

</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script type="text/javascript">
    var indexcheck = 0;
    //$('td').click(function () {
    $('td').on('click', function () {
        //alert(344);
        var row_index = $(this).parent().index('tr');
        indexcheck = row_index;
        // alert(indexcheck);
        // var col_index = $(this).index('tr:eq(' + row_index + ') td');
    });

    $('td').keydown(function (evt) {
        // if (evt.keyCode == 40) {
        //event.preventDefault();

        //alert(5553);
        //var cellindex = $(this).index()
        var rowindex = $(this).parents('tr').index() + 1;
        indexcheck = rowindex;

        //   $(this).parents('table').find('tr:eq(' + rowindex + ') td:eq(' + cellindex + ')').focus()
        //}
    });

    $("#tbl1").on("click", "td", function () {
        var row_index = $(this).parent().index('tr');
        indexcheck = row_index;


        //alert(indexcheck);
    });

    function requiredValue(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(12).find('input').val('0.00');
        }  
        if (value > 99) {
            alert("Value in 'Length of Abrasion A' cannot greater than 2 digits & 2 decimal places !");
            //var ssd = $("#tbl1").children().children().eq(2).children().eq(12).index('tr');

            debugger;
            $("#tbl1").children().children().eq(indexcheck).children().eq(12).find('input').val('0.00');

        }
    }

    function requiredValue1(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(13).find('input').val('0.00');
        }  

        if (value > 999.99) {
            alert("Value in 'Distance from outboard eye A' cannot greater than 3 digits & 2 decimal places !");
            //$('#tbl1 td').eq(13).html('0.00');
            //$('#tbl1 td').eq(13).find("input").val('0.00');

            debugger;
            $("#tbl1").children().children().eq(indexcheck).children().eq(13).find('input').val('0.00');



        }
    }

    function requiredValue2(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(14).find('input').val('0.00');
        }  

        if (value > 99) {
            alert("Value in 'Cut Yarn counted A' cannot greater than 2 digits & 2 decimal places !");
            // $('#tbl1 td').eq(14).html('0.00');
            //$('#tbl1 td').eq(14).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(14).find('input').val('0.00');
        }
    }

    function requiredValue3(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(15).find('input').val('0.00');
        }  

        if (value > 999.99) {
            alert("Value in 'Length of Glazing A' cannot greater than 3 digits & 2 decimal places !");
            //$('#tbl1 td').eq(15).html('0.00');
            // $('#tbl1 td').eq(15).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(15).find('input').val('0.00');
        }
    }

    function requiredValue4(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(19).find('input').val('0.00');
        }  

        if (value > 99) {
            alert("Value in 'Length of Abrasion B' cannot greater than 2 digits & 2 decimal places !");
            //$('#tbl1 td').eq(19).html('0.00');
            //$('#tbl1 td').eq(19).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(19).find('input').val('0.00');
        }
    }

    function requiredValue5(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(20).find('input').val('0.00');
        }  

        if (value > 999.99) {
            alert("Value in 'Distance from outboard eye B' cannot greater than 3 digits & 2 decimal places !");
            //$('#tbl1 td').eq(20).html('0.00');
            //$('#tbl1 td').eq(20).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(20).find('input').val('0.00');
        }
    }

    function requiredValue6(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(21).find('input').val('0.00');
        }  

        if (value > 99) {
            alert("Value in 'Cut Yarn counted B' cannot greater than 2 digits & 2 decimal places !");
            //$('#tbl1 td').eq(21).html('0.00');
            // $('#tbl1 td').eq(21).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(21).find('input').val('0.00');
        }
    }

    function requiredValue7(arg) {
        var id = arg.getAttribute('id');
        var value = arg.value;

        var last2 = value.slice(-2);
        if (last2 == "..") {
            alert("Only one decimal allowed!");
            $("#tbl1").children().children().eq(indexcheck).children().eq(22).find('input').val('0.00');
        }  

        if (value > 999.99) {
            alert("Value in 'Length of Glazing B' cannot greater than 3 digits & 2 decimal places !");
            //$('#tbl1 td').eq(22).html('0.00');
            // $('#tbl1 td').eq(22).find("input").val('0.00');
            $("#tbl1").children().children().eq(indexcheck).children().eq(22).find('input').val('0.00');
        }
    }

</script>

<script>
    $('.pane-hScroll').scroll(function () {
        $('.pane-vScroll').width($('.pane-hScroll').width() + $('.pane-hScroll').scrollLeft());
    });

    //// Example 2
    //$('.pane--table2').scroll(function () {
    //    $('.pane--table2 table').width($('.pane--table2').width() + $('.pane--table2').scrollLeft());
    //});
</script>




