@model Reports.UserInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LeftSideBar.cshtml";
}

<script src="~/js/CommonScriptFunctions.js"></script>
<script>
    $(document).ready(function () {

        $("#rdVessel").click(function () {
            var radioValue = $("#rdVessel:checked").val();
            if (radioValue) {
                $("#divVessels").show();
                $("#divFleetTypes").hide();
                $("#divFleetNames").hide();
            }
            else {
                $("#divVessels").hide();
                $("#divFleetTypes").hide();
                $("#divFleetNames").hide();
            }
        });

        $("#rdFleetType").click(function () {
            var radioValue = $("#rdFleetType:checked").val();
            if (radioValue) {
                $("#divVessels").hide();
                $("#divFleetTypes").show();
                $("#divFleetNames").hide();
            }
            else {
                $("#divVessels").hide();
                $("#divFleetTypes").hide();
                $("#divFleetNames").hide();
            }
        });

        $("#rdFleetName").click(function () {
            var radioValue = $("#rdFleetName:checked").val();
            if (radioValue) {
                $("#divVessels").hide();
                $("#divFleetTypes").hide();
                $("#divFleetNames").show();
            }
            else {
                $("#divVessels").hide();
                $("#divFleetTypes").hide();
                $("#divFleetNames").hide();
            }
        });
    });



    //$('#rdFleetType').change(function () {
    //    $("#divVessels").hide();
    //    $("#divFleetTypes").show();
    //    $("#divFleetNames").hide();
    //});

    //$('#rdVessel').change(function () {
    //    $("#divVessels").hide();
    //    $("#divFleetTypes").hide();
    //    $("#divFleetNames").show();
    //});

</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            User Management
        </h1>
        <p class="pull-right">
            @Html.ActionLink("Back to List", "Index", new { type = @ViewBag.Type })
        </p>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            @using (Html.BeginForm("Create", "UserDetail"))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Choose", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <label class="radio-inline"><input type="radio" name="rdVessel" id="rdVessel">Vessels</label>
                                            <label class="radio-inline"><input type="radio" name="rdFleetType" id="rdFleetType">Fleet Types</label>
                                            <label class="radio-inline"><input type="radio" name="rdFleetName" id="rdFleetName">Fleet Names</label>
                                        </div>
                                    </div>
                                    <div id="divVessels" class="form-group">
                                        @Html.Label("Vessel")
                                        <div class="form-group">
                                            @Html.ListBoxFor(m => m.VesselIMOs, new SelectList(Model.VesselList, "ImoNo", "VesselName"), new { @class = "form-control listbox" })
                                        </div>
                                    </div>
                                    <div id="divFleetTypes" class="form-group">
                                        @Html.Label("Fleet Types")
                                        <div class="form-group">
                                            @Html.ListBoxFor(m => m.FTypeIDs, new SelectList(Model.FleetTypeList, "Id", "Name"), new { @class = "form-control listbox" })
                                        </div>
                                    </div>
                                    <div id="divFleetNames" class="form-group">
                                        @Html.Label("Fleet Names")
                                        <div class="form-group">
                                            @Html.ListBoxFor(m => m.FNameIDs, new SelectList(Model.FleetNameList, "Id", "Name"), new { @class = "form-control listbox" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>