@model MenuLayer.MasterCommon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LeftSideBar.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @ViewBag.Type
        </h1>
        <p class="pull-right">
            @Html.ActionLink("Back to List", "Index", new { type = Model.Type })
        </p>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="table-responsive table-striped">
                            <table class="table no-margin" id="dataTable" width="100%" cellspacing="0">
                                @using (Html.BeginForm("DeleteType", "CommonType"))
                                {
                                    <tr>
                                        <td>
                                            <h4>
                                                @string.Format("Are you sure you want to delete '{0}' ?", Html.DisplayFor(model => model.Name))
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(e => e.Id)
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>