@model Shipment49Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="full-height bg-white height-100">
    <div class="vertical-align full-height pdd-horizon-70">
        <div class="table-cell">
            <div class="pdd-horizon-15">
                <h2>Forgot Password</h2>
                <p class="mrg-btm-15 font-size-13">Please enter your email to receive reset link</p>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @autocomplete = "off", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-lg btn-info" style="width:100%">Email Link</button>
                }
            </div>
        </div>
    </div>
    <div class="login-footer">
        <img class="img-responsive inline-block" src="~/images/moor.png" width="100" alt="">
        <span class="font-size-13 pull-right pdd-top-10">Don't have an account? <a href="">Sign Up Now</a></span>
    </div>
</div>


@*@model UserLayer.UserClass
    @{
        ViewBag.Title = "Forgot Password";
        Layout = "~/Views/Shared/_LayoutForgot.cshtml";
    }
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <style>
        .loginWrapper {
            background: #ffffff none repeat scroll 0 0;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
            margin: 10% auto 0;
            width: 350px;
        }

            .loginWrapper ul {
                margin: 0;
                padding: 5px 10px 0;
            }

                .loginWrapper ul li {
                    font-size: 13px;
                    list-style: outside none none;
                    margin: 8px 0;
                    padding: 0;
                }

                    .loginWrapper ul li label {
                        display: block;
                        font-size: 13px;
                        margin-bottom: 5px;
                    }

                    .loginWrapper ul li input[type="text"], .loginWrapper ul li input[type="password"] {
                        background: #fbfbfb none repeat scroll 0 0;
                        border: 1px solid #dddddd;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
                        color: #777777;
                        font-weight: normal;
                        margin: 0;
                        padding: 8px 2%;
                        width: 96%;
                    }

                    .loginWrapper ul li input[type="submit"] {
                        background: #2dc3e8 none repeat scroll 0 0;
                        border: medium none;
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: normal;
                        padding: 7px 10px;
                    }

            .loginWrapper h1 {
                background: #2dc3e8 none repeat scroll 0 0;
                border-bottom: medium none;
                color: #ffffff;
                font-size: 17px;
                font-weight: normal;
                padding: 7px 10px;
            }

            .loginWrapper h4 {
                display: block;
                font-size: 13px;
                font-weight: normal;
                padding-bottom: 10px;
            }
    </style>

    <style>
        img.ship-logo {
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 30px;
            text-align: center;
            top: 10%;
        }
    </style>

    <h2>
        <img src="http://work-ship.com/wp-content/uploads/2016/05/logo.png" alt="Shipping work and rest hrs" class="ship-logo">
    </h2>
    <div class="FlowupLabels">

        @using (Html.BeginForm("forgotpassword", "account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p class="text-center">
                Enter your email address below and we'll send you password reset instructions.
            </p>
            <div class="fl_wrap focused" style="margin:0;width:100%;">
                @Html.LabelFor(model => model.EmailId, new { @class = "fl_label" })
                @Html.TextBoxFor(model => model.EmailId, new { @class = "fl_input" })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
            </div>
                <input class="login-btn btn-block" id="btnsubmit" type="submit" value="Submit" />
            <div class="form-group text-center margin-3-top">
                or
            </div>
        <div class="form-group forr-pass text-center">
            <i class="fa fa-chevron-left"></i>&nbsp; @Html.ActionLink("Back to Login", "login", "account")
        </div>


        }
        <div align="center">

            <h4 style="color:Red">@ViewBag.Forgotpassword</h4>

        </div>

    </div>*@