@model Shipment49Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="full-height bg-white height-100">
    <div class="vertical-align full-height pdd-horizon-70">
        <div class="table-cell">
            <div class="pdd-horizon-15">
                <h2>Reset Password</h2>
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Code);
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-lg btn-info" style="width:100%">Reset</button>
                }
            </div>
        </div>
    </div>
    <div class="login-footer">
        <img class="img-responsive inline-block" src="~/images/moor.png" width="100" alt="">
        <span class="font-size-13 pull-right pdd-top-10">Don't have an account? <a href="">Sign Up Now</a></span>
    </div>
</div>