
@model Reports.LooseEDisposal


@{
    ViewBag.Title = "DisposeIndex";
    Layout = "~/Views/Shared/_LayoutVessel7.cshtml";
}



<div class="content">
    <div class="page-heading page-header-flex">
        <div>
            <h1 class="page-title">
                Loose Equipment Disposal
            </h1>
            <ol class="breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="">Form</a></li>
                <li><a>Create</a></li>
            </ol>
        </div>


    </div>


    <div class="admin-tabs loose-eq-detail-tab">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#tab1">Joining Shakle</a></li>
            <li><a data-toggle="pill" href="#tab2">Chain Stopper</a></li>
            <li><a data-toggle="pill" href="#tab3">Chafe Guard</a></li>
            <li><a data-toggle="pill" href="#tab4">Winch Brake Test Kit</a></li>
            <li><a data-toggle="pill" href="#tab5">Messenger Rope</a></li>
            <li><a data-toggle="pill" href="#tab6">Rope Stopper</a></li>
            <li><a data-toggle="pill" href="#tab7">Fire Wire</a></li>
            <li><a data-toggle="pill" href="#tab8">Towing Rope</a></li>
            <li><a data-toggle="pill" href="#tab9">Suez Rope</a></li>


        </ul>
    </div>


    <div class="wrapper wrapper-content">
        <div class="container-fluid">
            @if (TempData["Error"] != null)
            {
                <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
            }
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            <div class="tab-content">
                @*@Html.ActionLink("Add New", "createjs", "LEDetails", new { }, new { Style = "color:White;float:right;" })*@
                <div id="tab1" class="tab-pane fade in active">
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 1 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 1).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                         
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>

                </div>
                <div id="tab2" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "ChainStopperadd", "LEDetails", new { }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 5 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 5).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                           
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="tab3" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "ChafeGuardadd", "LEDetails", new { }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 7 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 7).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                           
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="tab4" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "WBTKadd", "LEDetails", new { }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 8 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 8).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                           
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="tab5" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "LERopeTail", "LEDetails", new { LTp = 3 }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 3 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 3).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                          
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="tab6" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "LERopeTail", "LEDetails", new { LTp = 4 }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 4 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 4).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                          
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="tab7" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "LERopeTail", "LEDetails", new { LTp = 6 }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 6 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 6).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                         
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="tab8" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "LERopeTail", "LEDetails", new { LTp = 9 }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 9 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Disposal
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 9).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                            
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="tab9" class="tab-pane fade">
                    @*@Html.ActionLink("Add New", "LERopeTail", "LEDetails", new { LTp = 10 }, new { Style = "color:White;float:right;" })*@
                    <div class="text-right mb-4">
                        <a class="btn btn-info" href="@Url.Action("AddDisposal", "LEDamaged", new { LET = 10 })">
                            <i class="fa fa-plus-circle mr-2"></i>Add Loose Eq. Detail
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Cert.No.</th>
                                    <th>Disposal Port Name</th>
                                    <th>Reception Facility Name</th>
                                    <th>Discard Date</th>
                                    <th>Disposal Date</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.AllDisposalList.Where(x => x.LooseETypeId == 10).ToList())
                                {
                                    <tr>
                                        <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.LooseECertiNo)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DisposalPortName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ReceptionFacilityName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiscardedDate)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisposalDate)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-light btn-delete">
                                                <i class="uil uil-trash-alt mr-2"></i>
                                                @Html.ActionLink("Delete", "DeleteDisposal", new { id = item.Id, LET = item.LooseETypeId }, new { onclick = "return confirm('Are you sure you want to delete this?');" })

                                            </button>
                                           
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>




</div>



<script type="text/javascript">

    setTimeout(function () {

        $('#successMessage').fadeOut('fast');
        $('#errorMessage').fadeOut('fast');
    }, 3000);


</script>