@model Shipment49Web.Areas.MSPS.Models.DocsPagesModel
@{
    /**/

    ViewBag.Title = "Add";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LeftSideBar.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Add
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Content</h3>
                    </div>
                    @using (Html.BeginForm("Add", "detailsview", new { area = "MSMP" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Mid)
                        @Html.HiddenFor(x => x.Subid)
                        @Html.HiddenFor(x => x.ShipId)

                        if (ViewBag.message != null)
                        {
                            <div class="alert alert-success">
                                <strong>
                                    Submitted amendment for this section, awaiting approval!
                                </strong>
                            </div>
                        }

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.TextAreaFor(m => m.Content, new { rows = "20", style = "resize:none; width:700px;", @class = "form-control input-lg textarea-editor" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <input type="submit" value="Save" class="btn btn-sm btn-info btn-flat pull-left" />
                            <a href="~/MSPS/DetailsView?id=@Model.Mid" class="btn btn-sm btn-default btn-flat pull-right">Back to List</a>
                            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default btn-flat pull-right" })*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts
	{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.textarea-editor').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 400
            });
        });
    </script>
}

@*@section Scripts
    {
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                // Initialize Editor
                //$('.textarea-editor').wysihtml5();
                $('.textarea-editor').summernote(
                    {
                        airMode: true
                        //disableDragAndDrop: false,
         //               height: 300,                 // set editor height
         //               minHeight: null,             // set minimum height of editor
         //               maxHeight: null,             // set maximum height of editor
                        //focus: true ,                 // set focus to editable area after initializing summernote

                        //toolbar: [
                        //	['style', ['bold', 'italic', 'underline', 'clear']],
                        //	['font', ['strikethrough', 'superscript', 'subscript']],
                        //	['fontsize', ['fontsize']],
                        //	['color', ['color']],
                        //	['para', ['ul', 'ol', 'paragraph']],
                        //	['height', ['height']],
                        //	['Insert', ['picture']],
                        //	['Other', ['fullscreen', 'codeview']]
                        //],

                        //callbacks: {
                        //	onImageUpload: function (image) {
                        //		editor = $(this);
                        //		uploadImageContent(image[0], editor);
                        //	}
                        //}
                    });
            });
        </script>


        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

    }*@