@model VesselLayer.Vessel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>*@


<script type="text/javascript">
    $(function () {
        $("#FleetName").autocomplete({
            source: '@Url.Action("AutoCompleteFN", "vesseldetails", "setting")',
            minLength: 1
        });
    });

</script>
<script type="text/javascript">
    $(function () {
        $("#FleetType").autocomplete({
            source: '@Url.Action("AutoCompleteFT", "vesseldetails", "setting")',
            minLength: 1
        });
    });

</script>
<div class="page_title margin-3-bot">
    <h2>Edit Vessel</h2>
</div>
<div class="white-bg margin-3 fleet clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div id="formContainer">

                <div id="formHeader" class="FlowupLabels">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*<p class="rf_notice">Vessel information will be unique</p>*@

                        <div class="fl_wrap focused">
                            <label class="fl_label" for="rf_name">Vessel Name:</label>
                            @*<input class="fl_input" id="VesselName" type="text"/>*@

                            @Html.TextBoxFor(model => model.VesselName, new { @class = "fl_input" })
                            @Html.ValidationMessageFor(model => model.VesselName, "", new { @class = "text-danger" })

                        </div>

                        <div class="fl_wrap">

                            <label class="fl_label" for="rf_imo">IMO No:</label>
                            @*<input class="fl_input" id="ImoNo" name="ImoNo" type="text"/>*@
                            @Html.TextBoxFor(model => model.ImoNo, new { @class = "fl_input" })
                            @Html.ValidationMessageFor(model => model.ImoNo, "", new { @class = "text-danger" })
                            @Html.Hidden("initialProduct", Model.ImoNo)
                        </div>

                        <div class="fl_wrap">
                            @*@Html.LabelFor(model => model.Flag, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label class="fl_label" for="rf_flag">Flag:</label>
                            @*<input class="fl_input" id="Flag" name="Flag" type="text"/>*@
                            @Html.TextBoxFor(model => model.Flag, new { @class = "fl_input" })
                            @Html.ValidationMessageFor(model => model.Flag, "", new { @class = "text-danger" })

                        </div>
                        <div class="fl_wrap">
                            @Html.LabelFor(model => model.FleetName, new { @class = "fl_label" })
                            @Html.TextBoxFor(model => model.FleetName, new { @class = "fl_input" })
                            @Html.ValidationMessageFor(model => model.FleetName, "", new { @class = "text-danger" })


                            @Ajax.ActionLink("Add New", "index", "fleetname", new { area = "setting" }, null, new { @class = "add_new" })

                        </div>
                        <div class="fl_wrap">
                            @Html.LabelFor(model => model.FleetType, new { @class = "fl_label" })
                            @Html.TextBoxFor(model => model.FleetType, new { @class = "fl_input" })
                            @Html.ValidationMessageFor(model => model.FleetType, "", new { @class = "text-danger" })

                            @Ajax.ActionLink("Add New", "index", "fleettype", new { area = "setting" }, null, new { @class = "add_new" })

                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="small-gutter row">
                            <div class="col-sm-3 col-xs-6 form-group">
                                <input type="submit" value="Update" class="btn peach-btn btn-block btn-block"  />
                            </div>
                            <div class="col-sm-4 col-xs-6 back_text margin-1-top">
                                <i class="fa fa-chevron-left"></i>&nbsp;  @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



