

@model Shipment49Web.Areas.MooringLine.Models.RopeCroppingClass
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVessel7.cshtml";
}


<div class="content" id="page-wrapper" style="margin-left:-15px;">



    <div class="page-heading page-header-flex">
        <div>
            <h1 class="page-title">
                Line Cropping
            </h1>
            @*<ol class="breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="">Form</a></li>
                <li><a>Create</a></li>
            </ol>*@
        </div>
        @if (TempData["Error"] != null)
        {
            <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
        }
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
            <div>


                <a class="btn btn-info" href="@Url.Action("addlinecropping", "LineCropping")">
                    <i class="fa fa-plus-circle mr-2"></i>Add Line Cropping
                </a>
                <a name="back" id="btnBack" onclick="goBack()" class="btn btn-primary btn-width"> << Go Back</a>


            </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                         
                            <th style="display:none">Id</th>
                            <th>Unique ID</th>
                            <th>Cert.No.</th>
                            <th>Assigned Winch</th>
                            <th>Assigned Location</th>
                            <th>Cropped Date</th>
                            <th>Reason Of Cropping</th>
                            <th>Outboard End In Use</th>
                            <th>Cropped Length</th>
                            @*<th width="100px">View</th>*@
                            <th width="100px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                       

                        @foreach (var item in Model.RopeCroppingList)
                        {


                        <tr>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td> @Html.DisplayFor(modelItem => item.UniqueId)</td>
                            <td> @Html.DisplayFor(modelItem => item.CertificateNumber)</td>
                            @if (item.AssignedNumber != null)
                            {
                                <td> @Html.DisplayFor(modelItem => item.AssignedNumber)</td>
                            }
                            else
                            {
                                <td>Not Assigned</td>
                            }
                            @if (item.AssignedLocation != null)
                            {

                                <td> @Html.DisplayFor(modelItem => item.AssignedLocation)</td>
                            }else
                            {
                                <td>Not Assigned</td>
                            }

                                <td>
                                    @Html.DisplayFor(modelItem => item.CroppedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReasonofCropping)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CroppedOutboardEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LengthofCroppedRope)
                                </td>
                                @*<td width="100px">
                <a href="#" class="btn btn-sm btn-light btn-view" data-toggle="modal" data-target="#viewModal">
                    <i class="uil uil-eye mr-2"></i>View
                </a>
            </td>*@

                                <td width="100px">
                                    <button type="button" class="btn btn-sm btn-light btn-delete">
                                        @Html.ActionLink("Delete", "Delete", "LineCropping", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                                        <i class="uil uil-trash-alt mr-2"></i>
                                    </button>
                                </td>


                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function BtnUpdateStatus(Id) {

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/AssignLine/Shifttoinactive',
            data: { 'Id': Id },
            success: function (response) {
                if (response.Result == true) {
                    alert('Status Updated successfully.');
                    //toastr["success"]('Status Updated successfully.');
                    window.location.reload();

                }
                else {
                    alert('An Error has occured. Please try again.');
                    // toastr["error"]('An Error has occured. Please try again.');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //toastr["error"]('An Error has occured. Please try again.');
                alert('An Error has occured. Please try again.');
            }
        });

    };
    //}
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script type="text/javascript">

    setTimeout(function () {

        $('#successMessage').fadeOut('fast');
        $('#errorMessage').fadeOut('fast');
    }, 3000);


</script>




